<%= link_to "All Articles", "#", class: "navbar-brand", id: "symbol" %>
<%= render "layouts/messages" %>

<%= render 'article', obj: @articles %>

<div class="well col-xs-7 col-xs-offset-4">
  <%= will_paginate %>
</div>
